<mat-toolbar>
    <span><a title = "Social" mat-button href="">Social</a></span>
    <div>
        <app-search-bar  (onSelectedOption) = "onSelectedFilter($event)" (onFlag) = "onFlagRemove($event)"></app-search-bar>   
    </div>
    <button title = "Profile" mat-raised-button style="margin-left:50px;border-radius:20%;"><img [src]= "url"> {{profileName}}</button>
    <button title = "friend Requests" style="margin-left:50px;" mat-raised-button><i class="material-icons">supervisor_account</i></button>
    <button title = "Notifications" style="margin-left:50px;" mat-raised-button><i class="material-icons">notification_important</i></button>
    <button title = "Help" style="margin-left:50px;" mat-raised-button><i class="material-icons">help</i></button>
    
  <span class="spacer"></span>
<button mat-icon-button [matMenuTriggerFor]= "menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span routerLink = "/login"><span>Logout</span></span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </button>
</mat-menu>
</mat-toolbar>


<div [style.display]="flag ? 'none' : 'block' " *ngFor= "let posts of post1" class="group" >
    <p><b>Item:</b>{{posts.id}}</p>
    <p><b>Title:</b>{{posts.title}}</p>
    <p><b>Body:</b>{{posts.body}}</p>
</div>
<div>
     
</div>
