<!-- header section -->
<div class="header" style="background-color: #555ba9;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #555ba9; margin: 0% 5% 0% 5%;">
        <a class="navbar-brand" href=""><i class="material-icons md-36 md-light">new_releases</i></a>

        <div class="input-group" id="search-bar" style="width: 30%">
            <input type="text" class="form-control inputxs" id="input-f" placeholder="Search username" style="border-radius: 100px; margin-top: 6px; border: none;">
            <button class="btn" type="button" id="btn"><i class="material-icons md-36 md-light">search</i></button>
        </div>      

        <div class="collapse navbar-collapse" id="navbarSupportedContent" id="menu-content">
            <ul class="navbar-nav mr-auto" id="menu-items">

                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="material-icons md-36 md-light">home</i>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="material-icons md-36 md-light">supervisor_account</i>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="material-icons md-36 md-light">message</i>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="material-icons md-36 md-light">library_music</i>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="material-icons md-36 md-light">shopping_basket</i>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="material-icons md-36 md-light">notification_important</i>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="">
                        <i class="material-icons md-36 md-light">account_circle</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<br>
<!-- friends stories -->
<div id="user-stories" style="background-color:orange;">
    <div class="stories">
        <p align="center">stories</p>
    </div>
</div>

<br>

<div class="wrapper" style="height: 100%;">
    <div class="body-wrapper" style="display: inline-flex;">
        <!-- profile -->
        <div class="user-profile">
            <mat-card class="profile-card" style="background-color: white; border-top: #555ba9 solid 4px;">
                <mat-card-header>
                    <mat-card-title>Profile</mat-card-title>
                </mat-card-header>
                <br>
                
                <!-- <mat-card-content>
                    <p>
                        Lorem Ipsum.
                    </p>
                </mat-card-content>
    
                <mat-card-actions>
                    <button mat-button>Following</button><br>
                    <button mat-button>Followers</button><br>
                    <button mat-button>View Profile</button><br>
                </mat-card-actions> -->
            </mat-card>
            <br>

            <mat-card class="suggestions" style="background-color: white;">
                <mat-card-header>
                    <mat-card-title>Suggestions</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>

        <!-- posts section -->
        <div class="center-section" style="margin: 0px 20px 0px 20px;">
            <div class="new-post">
                <mat-card style="height: 100px; width: 620px; background-color: white; border-top: #555ba9 solid 4px;">
                    
                </mat-card>
            </div>
            <br>
            <div class="posts">
                <mat-card style="height: 500px; width: 620px; background-color: white;">

                </mat-card>
            </div>
        </div>

        <!-- chat section -->
        <div class="chat-section">
            <mat-card class="chat-card" style="background-color: white; border-top: #555ba9 solid 4px;">
                <mat-card-header>
                    <mat-card-title>Chat with friends!</mat-card-title>
                </mat-card-header>
                <br>
            </mat-card>
        </div>
    </div>
</div>
